# Football Database

In this notebook I analyze a database that contains data from  European Football.

The database is composed for 7 tables which I describe below:

* `Country`: 11 rows and 2 columns

    - id: Country id
    - name: Name of the country

* `League`: 11 rows and 3 columns

    - id: League id
    - country_id: Country id of the League
    - name: Name of the League

* `Match`: 26k rows and 115 columns

    - id: Id of the match
    - country_id: Id of the country
    - league_id: Id of the league
    - season: Season the match happened in (goes from 2008/2009 to 2015/2016 season)
    - home_team_goal
    - others
    
* `Player`: 11.1k rows and 7 columns

    - id: Id of the player
    - player_name: Name of the player
    - birthday: Date of birth of player
    - height: Height of the player
    - weight: Weight of the player
    - others
    
* `Player_Attributes`: 184k rows and 42 columns:
 
    - overall_rating
    - potential
    - preferred_foot
    - attacking_work_rate
    - defensive_work_rate
    - crossing
    - others
    
* `Team`: 299 rows and 5 columns

    - id: Id of the team
    - team_api_id
    - team_fifa_api_id
    - team_long_name
    - team_short_name

* `Team_Attributes`: 1458 rows and 25 columns

    - id: Id of the team
    - buildUpPlaySpeed
    - buildUpPlaySpeedClass
    - buildUpPlayDribbling
    - buildUpPlayDribblingClass
    - buildUpPlayPassing
    - buildUpPlayPassingClass

This is a very extensive dataset with more than 11000 players, 300 teams and more than 25k matches. Most of the attributes I mention above are the ones I will be using to answer different questions. 

## Goals

The main goal of this analysis if the use of SQL (SQLite) language to extract analytical information to answer specific questions and provide different insights. The topics I address will be based on the following points:

* Best teams per league
* Best league: I will focus on the 5 biggest and best known leagues: Spain, France, Germany, England and Italy
* Best teams overall
* Players with best features
* Relationship between players and their team play.

In [1]:
# Installing ipython-sql to use SQL with Python
!conda install -yc conda-forge ipython-sql

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\manit\anaconda3\envs\sql_analysis

  added / updated specs:
    - ipython-sql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2020.12.5  |       h5b45459_0         173 KB  conda-forge
    certifi-2020.12.5          |   py39hcbf5309_0         144 KB  conda-forge
    ipython-sql-0.3.9          |py39hde42818_1002          28 KB  conda-forge
    openssl-1.1.1i             |       h8ffe710_0         5.8 MB  conda-forge
    prettytable-2.0.0          |     pyhd8ed1ab_0          22 KB  conda-forge
    python_abi-3.9             |           1_cp39           4 KB  conda-forge
    sqlalchemy-1.3.20          |   py39h4cdbadb_0         1.8 MB  conda-forge
    sqlparse-0.4.1             |     pyh9f0ad1d_0          34 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         8.0 MB

The following NEW packages will be INSTALLED:

  ipython-sql        conda-forge/win-64::ipython-sql-0.3.9-py39hde42818_1002
  prettytable        conda-forge/noarch::prettytable-2.0.0-pyhd8ed1ab_0
  python_abi         conda-forge/win-64::python_abi-3.9-1_cp39
  sqlalchemy         conda-forge/win-64::sqlalchemy-1.3.20-py39h4cdbadb_0
  sqlparse           conda-forge/noarch::sqlparse-0.4.1-pyh9f0ad1d_0

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates    pkgs/main::ca-certificates-2020.12.8-~ --> conda-forge::ca-certificates-2020.12.5-h5b45459_0
  certifi            pkgs/main::certifi-2020.12.5-py39haa9~ --> conda-forge::certifi-2020.12.5-py39hcbf5309_0
  openssl              pkgs/main::openssl-1.1.1i-h2bbff1b_0 --> conda-forge::openssl-1.1.1i-h8ffe710_0



Downloading and Extracting Packages

certifi-2020.12.5    | 144 KB    |            |   0%
certifi-2020.12.5    | 144 KB    | #1         |  11%
certifi-2020.12.5    | 144 KB    | ########## | 100%

ca-certificates-2020 | 173 KB    |            |   0%
ca-certificates-2020 | 173 KB    | ##7        |  28%
ca-certificates-2020 | 173 KB    | ########## | 100%

ipython-sql-0.3.9    | 28 KB     |            |   0%
ipython-sql-0.3.9    | 28 KB     | #####7     |  58%
ipython-sql-0.3.9    | 28 KB     | ########## | 100%

openssl-1.1.1i       | 5.8 MB    |            |   0%
openssl-1.1.1i       | 5.8 MB    |            |   0%
openssl-1.1.1i       | 5.8 MB    | 1          |   2%
openssl-1.1.1i       | 5.8 MB    | 4          |   4%
openssl-1.1.1i       | 5.8 MB    | 7          |   8%
openssl-1.1.1i       | 5.8 MB    | #3         |  14%
openssl-1.1.1i       | 5.8 MB    | #5         |  16%
openssl-1.1.1i       | 5.8 MB    | #8         |  19%
openssl-1.1.1i       | 5.8 MB    | ##1        |  21%
openssl-1.1.1i       | 5.8 MB    | ##3        |  24%
openssl-1.1.1i       | 5.8 MB    | ##5        |  26%
openssl-1.1.1i       | 5.8 MB    | ##9        |  30%
openssl-1.1.1i       | 5.8 MB    | ###5       |  35%
openssl-1.1.1i       | 5.8 MB    | ####       |  41%
openssl-1.1.1i       | 5.8 MB    | ####4      |  45%
openssl-1.1.1i       | 5.8 MB    | ####9      |  50%
openssl-1.1.1i       | 5.8 MB    | #####3     |  53%
openssl-1.1.1i       | 5.8 MB    | #####6     |  57%
openssl-1.1.1i       | 5.8 MB    | ######1    |  62%
openssl-1.1.1i       | 5.8 MB    | ######6    |  66%
openssl-1.1.1i       | 5.8 MB    | ######9    |  70%
openssl-1.1.1i       | 5.8 MB    | #######5   |  75%
openssl-1.1.1i       | 5.8 MB    | #######9   |  80%
openssl-1.1.1i       | 5.8 MB    | ########2  |  83%
openssl-1.1.1i       | 5.8 MB    | ########6  |  86%
openssl-1.1.1i       | 5.8 MB    | ########8  |  89%
openssl-1.1.1i       | 5.8 MB    | #########3 |  94%
openssl-1.1.1i       | 5.8 MB    | ########## | 100%
openssl-1.1.1i       | 5.8 MB    | ########## | 100%

prettytable-2.0.0    | 22 KB     |            |   0%
prettytable-2.0.0    | 22 KB     | #######1   |  72%
prettytable-2.0.0    | 22 KB     | ########## | 100%

sqlparse-0.4.1       | 34 KB     |            |   0%
sqlparse-0.4.1       | 34 KB     | ####7      |  48%
sqlparse-0.4.1       | 34 KB     | ########## | 100%

python_abi-3.9       | 4 KB      |            |   0%
python_abi-3.9       | 4 KB      | ########## | 100%
python_abi-3.9       | 4 KB      | ########## | 100%

sqlalchemy-1.3.20    | 1.8 MB    |            |   0%
sqlalchemy-1.3.20    | 1.8 MB    |            |   1%
sqlalchemy-1.3.20    | 1.8 MB    | 6          |   7%
sqlalchemy-1.3.20    | 1.8 MB    | #4         |  14%
sqlalchemy-1.3.20    | 1.8 MB    | #8         |  19%
sqlalchemy-1.3.20    | 1.8 MB    | ##3        |  24%
sqlalchemy-1.3.20    | 1.8 MB    | ##7        |  28%
sqlalchemy-1.3.20    | 1.8 MB    | ###2       |  32%
sqlalchemy-1.3.20    | 1.8 MB    | ###9       |  40%
sqlalchemy-1.3.20    | 1.8 MB    | ####6      |  47%
sqlalchemy-1.3.20    | 1.8 MB    | #####1     |  52%
sqlalchemy-1.3.20    | 1.8 MB    | #####8     |  59%
sqlalchemy-1.3.20    | 1.8 MB    | ######6    |  66%
sqlalchemy-1.3.20    | 1.8 MB    | #######1   |  71%
sqlalchemy-1.3.20    | 1.8 MB    | ########   |  81%
sqlalchemy-1.3.20    | 1.8 MB    | ########8  |  88%
sqlalchemy-1.3.20    | 1.8 MB    | #########3 |  93%
sqlalchemy-1.3.20    | 1.8 MB    | #########7 |  98%
sqlalchemy-1.3.20    | 1.8 MB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

**Connecting the Julyter notebook to the database file: database.sqlite**

In [12]:
%%capture
%load_ext sql
%sql sqlite:///database.sqlite

## **Extracting information from the database**

In [13]:
%%sql
SELECT *
FROM sqlite_master
WHERE type='table';

 * sqlite:///database.sqlite
Done.

[('table', 'sqlite_sequence', 'sqlite_sequence', 4, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'Player_Attributes', 'Player_Attributes', 11, 'CREATE TABLE "Player_Attributes" (\n\t`id`\tINTEGER PRIMARY KEY AUTOINCREMENT,\n\t`player_fifa_api_id`\tINTEGER,\n\t`player_api_id`\tINTEGER,\n\t`dat ... (1024 characters truncated) ... tFOREIGN KEY(`player_fifa_api_id`) REFERENCES `Player`(`player_fifa_api_id`),\n\tFOREIGN KEY(`player_api_id`) REFERENCES `Player`(`player_api_id`)\n)'),
 ('table', 'Player', 'Player', 14, 'CREATE TABLE `Player` (\n\t`id`\tINTEGER PRIMARY KEY AUTOINCREMENT,\n\t`player_api_id`\tINTEGER UNIQUE,\n\t`player_name`\tTEXT,\n\t`player_fifa_api_id`\tINTEGER UNIQUE,\n\t`birthday`\tTEXT,\n\t`height`\tINTEGER,\n\t`weight`\tINTEGER\n)'),
 ('table', 'Match', 'Match', 18, 'CREATE TABLE `Match` (\n\t`id`\tINTEGER PRIMARY KEY AUTOINCREMENT,\n\t`country_id`\tINTEGER,\n\t`league_id`\tINTEGER,\n\t`season`\tTEXT,\n\t`stage`\t ... (4533 characters truncated) ... id`),\n\tFOREIGN KEY(`away_player_10`) REFERENCES `Player`(`player_api_id`),\n\tFOREIGN KEY(`away_player_11`) REFERENCES `Player`(`player_api_id`)\n)'),
 ('table', 'League', 'League', 24, 'CREATE TABLE `League` (\n\t`id`\tINTEGER PRIMARY KEY AUTOINCREMENT,\n\t`country_id`\tINTEGER,\n\t`name`\tTEXT UNIQUE,\n\tFOREIGN KEY(`country_id`) REFERENCES `country`(`id`)\n)'),
 ('table', 'Country', 'Country', 26, 'CREATE TABLE `Country` (\n\t`id`\tINTEGER PRIMARY KEY AUTOINCREMENT,\n\t`name`\tTEXT UNIQUE\n)'),
 ('table', 'Team', 'Team', 29, 'CREATE TABLE "Team" (\n\t`id`\tINTEGER PRIMARY KEY AUTOINCREMENT,\n\t`team_api_id`\tINTEGER UNIQUE,\n\t`team_fifa_api_id`\tINTEGER,\n\t`team_long_name`\tTEXT,\n\t`team_short_name`\tTEXT\n)'),
 ('table', 'Team_Attributes', 'Team_Attributes', 2, 'CREATE TABLE `Team_Attributes` (\n\t`id`\tINTEGER PRIMARY KEY AUTOINCREMENT,\n\t`team_fifa_api_id`\tINTEGER,\n\t`team_api_id`\tINTEGER,\n\t`date`\tTE ... (754 characters truncated) ... s`\tTEXT,\n\tFOREIGN KEY(`team_fifa_api_id`) REFERENCES `Team`(`team_fifa_api_id`),\n\tFOREIGN KEY(`team_api_id`) REFERENCES `Team`(`team_api_id`)\n)')]

**Extracting name of the tables**

In [14]:
%%sql
SELECT name, type
FROM sqlite_master
WHERE type IN ("table", "view")

 * sqlite:///database.sqlite
Done.

[('sqlite_sequence', 'table'),
 ('Player_Attributes', 'table'),
 ('Player', 'table'),
 ('Match', 'table'),
 ('League', 'table'),
 ('Country', 'table'),
 ('Team', 'table'),
 ('Team_Attributes', 'table')]

## Extracting information of our teams and leagues

**Name of the leagues**

In [15]:
%%sql
SELECT * FROM league;

 * sqlite:///database.sqlite
Done.

[(1, 1, 'Belgium Jupiler League'),
 (1729, 1729, 'England Premier League'),
 (4769, 4769, 'France Ligue 1'),
 (7809, 7809, 'Germany 1. Bundesliga'),
 (10257, 10257, 'Italy Serie A'),
 (13274, 13274, 'Netherlands Eredivisie'),
 (15722, 15722, 'Poland Ekstraklasa'),
 (17642, 17642, 'Portugal Liga ZON Sagres'),
 (19694, 19694, 'Scotland Premier League'),
 (21518, 21518, 'Spain LIGA BBVA'),
 (24558, 24558, 'Switzerland Super League')]

**Note:** As I mentioned above, I will focus on the 5 best known leagues: 

    * England Premier League
    * France Ligue 1
    * Italy Serie A
    * Germany 1. Bundesliga
    * Spain LIGA BBVA
    
I will create a view with the data of only these views

In [23]:
%%sql
DROP VIEW IF EXISTS best_leagues;

CREATE VIEW best_leagues AS
SELECT id, country_id,
CASE 
    WHEN name = 'England Premier League' THEN 'Premier League'
    WHEN name = 'France Ligue 1' THEN 'League 1'
    WHEN name = 'Germany 1. Bundesliga' THEN 'Bundesliga'
    WHEN name = 'Italy Serie A' THEN 'Serie A'
    WHEN name = 'Spain LIGA BBVA' THEN 'La Liga'
END AS name
FROM league
WHERE name IN ('England Premier League', 'France Ligue 1', 'Germany 1. Bundesliga', 'Italy Serie A','Spain LIGA BBVA');

SELECT * FROM best_leagues;

 * sqlite:///database.sqlite
Done.
Done.
Done.

[(1729, 1729, 'Premier League'),
 (4769, 4769, 'League 1'),
 (7809, 7809, 'Bundesliga'),
 (10257, 10257, 'Serie A'),
 (21518, 21518, 'La Liga')]